@mixin mobile {
    .aito-block .aito-info-block {
      max-height: 95%;
    }
    .aito-block .aito-info-block .aito-info-block-text {
      height: auto;
      display: block;
      overflow: hidden;
      min-height: 300px;
      width: 100%;

      h3 {
        width: 100%;
        padding: 30px;
        padding-bottom: 30px;
        padding-top: 0px;
      }

      p {
        width: 100%;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
      }

      form p, input, textarea {
        padding-left: 30px;
        margin-left: 0px;
      }
    }

    .aito-block .aito-info-block .aito-info-block-text form input {
      margin-left: 30px;
    }

    .aito-block .aito-info-block .aito-info-block-text form textarea {
      margin-left: 30px;
    }

    .aito-block .aito-info-block .aito-block-image {
      display: none;
    }
    .aito-block .aito-info-block .aito-info-block-text.aito-recruitment-text {
      padding: 30px 30px;
      p{
        margin-bottom: 30px;
      }
    }

    .aito-block.aito-team-fullscreen {
      height: auto;
      min-height: 300vh;
      overflow: visible;
      .aito-info-block {
        overflow: visible;
        height: auto;
        .aito-team-blocks {
          padding: 30px;

          .aito-team-member {
            width: 100%;
          }
        }
      }
    }

    .aito-block .aito-info-block .aito-team-blocks {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
    }

    .aito-block.aito-block-form {
      height: 150vh;
    }

    .aito-block.aito-block-form .aito-info-block .aito-info-block-text p{
      width: 90%;
    }
    .aito-block.aito-recruitment-background {
      height: 150vh;
    }
}



.aito-block {
  display: block;
  width: 100%;
  background: white;
  position: relative;
  min-height: 600px;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;

  .special {
    width: 90%;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0px;
    z-index: 89;
    transform: translate(-50%, 0%);
  }

  .aito-info-block {
    width: 100%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    overflow: hidden;

    .aito-block-image, .aito-info-block-text {
      height: 100%;
      display: inline-block;
      overflow: hidden;
      min-height: 300px;
    }

    .aito-block-image {
      width: 39%;
      min-height: 200px;

      div {
        height: 100%;
        width: 39%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 70;
      }
    }

    .aito-block-image.offer {
      div{
        background-image: url('./assets/images/compressed/jon-grogan-compressed.jpg');
        background-size: cover;
      }
    }

    .aito-block-image.promises {
      div{
        background-image: url('./assets/images/compressed/wood_detail-compressed.jpg');
        background-size: cover;
      }
    }

    .aito-block-image.benefits {
      div{
        background-image: url('./assets/images/compressed/matthew_smith-compressed.jpg');
        background-position: bottom;
        background-size: cover;
      }
    }

    .aito-block-image.flow {
      div{
        background-image: url('./assets/images/valeriy-andrushko_mv.jpg');
        background-position: bottom;
        background-size: cover;
      }
    }

    .aito-block-image.contact {
      div{
        background-image: url('./assets/images/joshua-harris-508494.jpg');
        background-position: bottom;
        background-size: cover;
      }
    }

    .aito-block-image.form{
      div{
        background-image: url('./assets/images/compressed/tom-barrett-compressed2.jpg');
        background-position: bottom;
        background-size: cover;
      }
    }

    .aito-block-image.aito-recruitment-title{
      padding: 30px;

      h3 {
        color: white;
        position: absolute;
        top: 0px;
        display: block;
        width: 35%;
      }
    }

    .aito-info-block-text {
      width: 60%;
      position: relative;

      h3 {
        width: 100%;
        padding: 60px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 90px;
      }

      p {
        padding: 60px;
        padding-top: 30px;
        padding-left: 90px;
        width: 75%;

        a {
          color: black;
          text-decoration: underline;
        }

        b {
          font-family: $MAIN_FONT;
          font-size: 1.2rem;
        }

        b.capital {
          font-family: $MAIN_FONT;
          font-size: 1.5rem;
          line-height: 3rem;  
        }

        ul{
          padding: 60px;
          padding-top: 30px;
          padding-left: 90px;
          width: 95%;
        }
      }

      p.list {
        line-height: 300%;
        width: 95%;
      }

      p.list.first{
        font-size: 1.5rem;
      }

      p.trial{
        padding-top: 30px;
        font-style: bold;
      }

      a.aito-sign-up {
        display: block;
        width: 120px;
        padding: 10px 25px;
        border: 3px solid black;
        background: transparent;
        color: black;
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;
        line-height: 1rem;
        font-size: 1rem;
        text-decoration: none;
      }

      form {
        p {
          padding: 0px;
          padding-top: 10px;
          padding-left: 90px;
          width: 75%;
        }

        input {
          display: block;
          padding: 0px;
          margin-top: 5px;
          margin-left: 90px;
          width: 75%;
          border: 1px solid black;
          height: 2rem;
          padding-left: 5px;
        }

        input.submit {
          padding: 10px 25px;
          border: 3px solid black;
          background: transparent;
          color: black;
          text-transform: uppercase;
          text-align: center;
          margin-top: 30px;
          line-height: 1rem;
          font-size: 1rem;
          width: 200px;
          padding: 0px;
        }

        textarea {
          display: block;
          padding: 0px;
          padding-top: 10px;
          margin-left: 90px;
          width: 75%;
          border: 1px solid black;
          padding-left: 5px;
          height: 5rem;
        }
      }
    }

    .aito-info-block-text.aito-info-fullscreen {
      width: 100%;
    }

    .aito-info-block-text.aito-recruitment-text{
      background-color: white;
      p {
        width: 90%;
      }
    }

    .aito-team-blocks {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 60px;
      padding-top: 30px;
      padding-left: 90px;

      .aito-team-member {
        width: 30%;
        display: block;
        margin-right: 10px;
        flex-grow: 1;

        div {
          width: 100%;
          height: 250px;
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        div.aito-team-member-vesku {
          background-image: url('./assets/images/Vesku.jpg');
        }

        div.aito-team-member-antti {
          background-image: url('./assets/images/Antti.jpg');
          background-position: right;
        }

        div.aito-team-member-kai {
          background-image: url('./assets/images/Kai.jpg');
        }

        h4 {
          font-size: 1.3rem;
          padding: 30px;
          padding-bottom: 0px;
          padding-left: 0px;  
        }

        p{
          padding: 30px;
          padding-top: 0px;
          padding-left: 0px;
        }
      }

      .aito-team-text {
        width: 100%;
        display: block;
        flex-grow: 3;
        small {
          width: 100%;
          margin: 0px;
          padding-left: 0px;
        }
      }
      
    }
  }
  
}

.aito-block.aito-recruitment-background {
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/jeremy-gallman_square_smaller.jpg');
}

.aito-block.aito-block-form {
  height: 150vh;
}

.aito-block.aito-block-form .aito-info-block .aito-info-block-text p{
  width: 90%;
  padding-bottom: 0px;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    @include mobile;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
    @include mobile;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
    @include mobile;
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {
    @include mobile;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 
    @include mobile;
}