/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    h2 {
      font-size: 5rem;
    }

    .aito-hero-image button{
      padding: 10px 50px;
      border: 5px solid white;
      font-size: 2.7rem;
    }

    .aito-hero-image {
      background-position: -292px center;
    }

    .aito-block{
      .aito-info-block{
        .image{
          display: none;  
          img{
            display: none;
          }
        }
      }
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
    h2 {
      font-size: 5rem;
    }

    .aito-hero-image button{
      padding: 10px 50px;
      border: 5px solid white;
      font-size: 2.7rem;
    }

    .aito-hero-image {
      background-position: -292px center;
    }

    .aito-block{
      .aito-info-block{
        .image{
          display: none;  
          img{
            display: none;
          }
        }
      }
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
    h2 {
      font-size: 5rem;
    }

    .aito-hero-image button{
      padding: 10px 50px;
      border: 5px solid white;
      font-size: 2.7rem;
    }

    .aito-hero-image {
      background-position: -292px center;
    }

    .aito-block{
      .aito-info-block{
        .image{
          display: none;  
          img{
            display: none;
          }
        }

        .image, .aito-info-block-text {
          display: block;
          width: 100%;
        }

        .aito-info-block-text {
          position: relative;

          p {
            padding: 60px;
            padding-top: 30px;
          }
        }
      }
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {
    h2 {
      font-size: 5rem;
    }

    .aito-hero-image button {
      padding: 10px 50px;
      border: 5px solid white;
      font-size: 2.7rem;
    }

    .aito-hero-image {
      background-position: -292px center;
    }

    .aito-block{
      .aito-info-block{
        .image{
          display: none;  
          img{
            display: none;
          }
        }
      }
    }

}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {
    h2 {
      font-size: 5rem;
    }

    .aito-hero-image .aito-hero-image-text-container .aito-hero-image-logo img {
      width: 200px;
      height: auto;
    } 

    .aito-hero-image button {
      padding: 10px 50px;
      border: 5px solid white;
      font-size: 2.7rem;
    }

    .aito-hero-image {
      background-position: -292px center;
    }

    .aito-block{
      .aito-info-block{
        .image{
          display: none;  
          img{
            display: none;
          }
        }
      }
    }
}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    // h2 {
    //   font-size: 1.8rem;
    //   line-height: 2.8rem;
    // }

    // .aito-hero-image .aito-hero-image-text-container .aito-hero-image-logo img {
    //   width: 200px;
    //   height: auto;
    // }

    // .aito-hero-image {
    //   background-position: center;
    // }

    // .aito-hero-image button {
    //   font-size: 1.1rem;
    //   line-height: 1.1rem;
    // }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    // h2 {
    //   font-size: 1.8rem;
    //   line-height: 2.8rem;
    // }

    // .aito-hero-image .aito-hero-image-text-container .aito-hero-image-logo img {
    //   width: 200px;
    //   height: auto;
    // } 

    // .aito-hero-image {
    //   background-position: center;
    // }

    // .aito-hero-image button {
    //   font-size: 1.1rem;
    //   line-height: 1.1rem;
    // }
}