@charset 'utf-8';
@import 'config/fonts';
@import 'layout/loader';
@import 'layout/base';
@import 'layout/menu';
@import 'layout/hero_image';
@import 'layout/info_block';


.aito-app {
  background-color: white;
  width: 100%;
  width: 100vw;
  position: relative;
  top: -1px;
  z-index: 0;
  box-sizing: content-box;

  .aito-page-info {
    padding: 60px !important;

    h4 {
      margin-top: 60px !important;
      margin-bottom: 20px;
    }
  }
}





// @import 'media_queries';