@import 'fonts';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

h1 {
  font-family: $MAIN_FONT;
  font-size: 7em;
}

h2 {
  font-family: $MAIN_FONT;
  font-size: 5em;
}

.aito-app {
  width: 100%;
  width: 100vw;
}

.aito-hero-image {
  width: 100%;
  width: 100vw;
  display: block;
  height: 900px;
  height: 100vh;
  background: #2d5f49;
  background-image: url('./assets/images/forest_opt.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .aito-hero-image-text-container{
    width: 70%;
    color: white;
    text-shadow: 5px 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

